.container-main-de {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.link-container-de {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: space-around;
}

.howto-trigger-de {
    display: flex;
    align-items: center;
}

/* Haupt-Dropdown */
.dropdown-class {
    width: 100%;
    max-width: 200px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #132e4b;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    /* Pfeil als Hintergrundbild */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23007BFF" height="12" viewBox="0 0 10 6" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M0 0l5 6 5-6z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
}


/* Hover-Effekt */
.dropdown-class:hover {
    border-color: #0056b3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Fokus-Effekt */
.dropdown-class:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

/* Platzhalter-Option */
.dropdown-class option[disabled] {
    color: #aaa;
    /* graue Farbe für Platzhalter */
}

/* Optional: kleiner Pfeil rechts hinzufügen */
.dropdown-class::after {
    content: "▼";
    position: absolute;
    right: 15px;
    pointer-events: none;
}

.card-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    gap: 40px;
}